body {
    background-color: rgba(255, 255, 255, 0.877);
    font-family: 'Sansita', sans-serif;
}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    text-align: center;
}
h6 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.item1 {
    grid-area: miArea;
    background-color: lightcoral !important;
}
.container {
    background-color: rgba(209, 162, 6, 0.966);
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 35% 35%;
}
.container2 {
    background-color: rgba(209, 162, 6, 0.966);
    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
}
.box { 
    background-color: rgba(255, 232, 155, 0.966);
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 1px dotted white;
}


.grid-container {
    display: grid;
    grid-template-areas: 'miArea miArea . . .'
                         'miArea miArea . . .';
                         grid-template-columns: 30% 70%;
    background-color: rgba(209, 162, 6, 0.966);
    
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    
}

div {
    background-color: rgba(170, 168, 162, 0.966);
    padding: 10px;
    
}

div p {
        
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
}
/* Ventana Emergente */
button {
    background-color: gray;
    border: 0;
    border-radius: 5px;
    color: beige;
    padding: 10px 25px;
}
.modal-container {
    display: flex;
    background-color: rgb(185, 223, 255);
    align-items: center;
    position:fixed;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

}
.show {
    pointer-events: auto;
    opacity: 1;
}
.show2 {
    pointer-events: auto;
    opacity: 1;
}
.show3 {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
 }
  
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; }
  
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
  
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; }

     